@model IEnumerable<CIRApresentacao.Models.usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade.UF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF_CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade.UF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Usuario_id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Usuario_id }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.Usuario_id })
        </td>
    </tr>
}

</table>
